# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.pyc

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
dist/
develop-eggs/

# VSCode
.vscode/

# Pycharm
.idea/
