#drop-shadow-layer-1 {
    background: rgba(0, 0, 0, 3);
    border-radius: 8px;
}

#drop-shadow-layer-2 {
    background: rgba(0, 0, 0, 5);
    border-radius: 8px;
}

#drop-shadow-layer-3 {
    background: rgba(0, 0, 0, 6);
    border-radius: 8px;
}

#drop-shadow-layer-4 {
    background: rgba(0, 0, 0, 9);
    border-radius: 8px;
}

#drop-shadow-layer-5 {
    background: rgba(0, 0, 0, 10);
    border-radius: 8px;
}